<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineUniverse</title>
</head>
<body>
    <h1>씨네유니버스</h1>
    <header>
        <nav>
            <a href="/">홈</a> |
            <a href="/community">커뮤니티</a> |
            <a href="/mypage">마이페이지</a>
        </nav>
    </header>
    <table id="postsTable">
      <tr>
        <th>제목</th>
        <th>내용</th>
        <th>토론</th>
        <th>날짜</th>
      </tr>
    <!-- 여기에 게시글 데이터를 추가 -->
    </table>
    <br>
    <a href="/community/note" class="button">글쓰기</a>
    <footer>
        <hr>
        Test 광림
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/community.js"></script>
  </body>
  </html>