<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
        <link href="../css/main.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    
        <title>CineUniverse</title>
      </head>
        
    <body>
      <div class="v93_30"></div>
        <nav>
            <ul>
              <li><a href="/" class="home">홈</a></li>
              <li><a href="/community" class="community">커뮤니티</a></li>
              <li><a href="/event" class="event">이벤트</a></li>
              <li><a href="/mypage" class="mypage">마이페이지</a></li>
            </ul>
          </nav>          
        <div class="name"></div>
        <div class="v93_42">
            <table id="postsTable">
                <tr>
                  <th>제목</th>
                  <th>내용</th>
                  <th>토론</th>
                  <th>날짜</th>
                </tr>
              <!-- 여기에 게시글 데이터를 추가 -->
              </table>
              <br>
              <a href="/community/note" class="button">글쓰기</a>
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
              <script src="../js/community.js"></script>
        </div>
        <div class="v93_59">
            <div class="v93_60"></div>
            <div class="v93_61"></div>
            <div class="v93_62"></div>
        </div>
        <nav>
            <ul>
              <li><a href="/following" class="v93_352">팔로잉</a></li>
              <li><a href="/community/popularnote" class="popularnote">인기</a></li>
              <li><a href="/test" class="v93_354">테스트</a></li>
            </ul>
        </nav>
        </div>
    </body>
</html>