<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../js/community.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="../js/button.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
        <link href="../css/test.css" rel="stylesheet" />
        <link href="../css/button.css" rel="stylesheet" />
        <link href="../css/bottomnav.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    
        <title>CineUniverse</title>
      </head>
        
    <body>
        <!-- 하단 네비게이션바 배경 -->
        <div class="nav-container">
            <div class="v93_24"></div>
            <div class="v93_25"></div>
            <div class="v93_26"></div>
            <div class="v93_27"></div>
            <div class="v93_28"></div>
            <nav>
                <ul>
                  <li><a href="/" class="home">홈</a></li>
                  <li><a href="/community" class="community">커뮤니티</a></li>
                  <li><a href="/event" class="event">이벤트</a></li>
                  <li><a href="/mypage" class="mypage">마이페이지</a></li>
                </ul>
            </nav>
        </div>        
        <div class="v93_30"></div>
        <div class="name"></div>
        <div class="v93_42">
              <!-- 여기에 게시글 데이터를 추가 -->
        </div>
        <div class="button_plus">
            <div class="dropdown">
                <div class="box" id="searchBox">검색</div>
                <div class="box" id="writeBox">
                    <a href="/community/note">글쓰기</a>
                </div>
             </div>
        </div>          
        <div class="v93_63"></div>
        <div class="v93_64"></div>
        <div class="v93_65"></div>
        <nav>
            <ul>
              <li><a href="/following" class="following">팔로잉</a></li>
              <li><a href="/community/popularnote" class="popularnote">인기</a></li>
              <li><a href="/test" class="test">테스트</a></li>
            </ul>
        </nav>
        <div id="tabs">
            <button id="postsTab">게시글</button>
            <button id="discussionsTab">토론</button>
          </div>
        </div>
    </body>
</html>