<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../js/community.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="../js/button.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
        <link href="../css/test.css" rel="stylesheet" />
        <link href="../css/button.css" rel="stylesheet" />
        <link href="../css/bottomnav.css" rel="stylesheet" />
        <link href="../css/top.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    
        <title>CineUniverse</title> 
      </head>
        
    <body>
        <img src="./img/CineUniverse.png" alt="CineUniverse">
        <!-- 상단바 -->
        <div class="container">
            <div class="v93_63">
                <a href="/following" class="following">팔로잉</a>
            </div>
            <div class="v93_64">
                <a href="/community/popularnote" class="popularnote">토론</a>
            </div>
            <div class="v93_65">
                <a href="/test" class="test">게시글</a>
            </div>
            <div class="v93_66">
                <a href="/test" class="test">소모임</a>
            </div>
        </div>
        <div class="v93_30"></div>
        <div class="combined-card">
            <div class="v93_41">
              <!-- 여기에 게시글 작성자 이름과 날짜 데이터를 추가 -->
            </div>
            <div class="v93_42">
              <!-- 여기에 게시글 제목과 내용 데이터를 추가 -->
            </div>
        </div>          
        <!-- +버튼 -->
        <div class="button_plus">
            <a href="/community/note"></a>
        </div>
        <!-- 하단 네비게이션바 -->           
        <div class="nav-container">
            <div class="v93_24 home">
                <a href="/" class="home">
                    <img src="/img/home.png" alt="Home">
                    <h1>홈</h1>
                </a>
            </div>
            <div class="v93_25 community">
                <a href="/community" class="community">
                    <img src="/img/community.png" alt="Community">
                    <h1>커뮤니티</h1>
                </a>
            </div>
            <div class="v93_26 event">
                <a href="/event" class="event">
                    <img src="/img/event.png" alt="Community">
                    <h1>이벤트</h1>
                </a>
            </div>
            <div class="v93_27 mypage">
                <a href="/mypage" class="mypage">
                    <img src="/img/mypage.png" alt="Community">
                    <h1>마이페이지</h1>
                </a>
            </div>
        </div>       
    </body>
</html>