<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>씨네유니버스</h1>
    <header>
        <nav>
            <a href="/">홈</a> |
            <a href="/community">커뮤니티</a> |
            <a href="/mypage">마이페이지</a>
        </nav>
    </header>