* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v93_2 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  padding: 53px 16px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v93_3 {
  width: 84px;
  height: 124px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 713px;
  left: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v93_4 {
  width: 46px;
  height: 45px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 644px;
  left: 15px;
  border-radius: 50%;
}
.v93_5 {
  width: 102px;
  height: 15px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 659px;
  left: 71px;
  overflow: hidden;
}
.v93_6 {
  width: 360px;
  height: 145px;
  background: url("../images/v93_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 701px;
  left: 15px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v93_7 {
  width: 51px;
  height: 13px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 713px;
  left: 125px;
  overflow: hidden;
}
.v93_8 {
  width: 55px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 747px;
  left: 125px;
  overflow: hidden;
}
.v93_9 {
  width: 121px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 764px;
  left: 125px;
  overflow: hidden;
}
.v93_10 {
  width: 175px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 781px;
  left: 125px;
  overflow: hidden;
}
.v93_11 {
  width: 175px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 798px;
  left: 125px;
  overflow: hidden;
}
.v93_12 {
  width: 175px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 815px;
  left: 125px;
  overflow: hidden;
}
.v93_13 {
  width: 390px;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 766px;
  left: 0px;
  overflow: hidden;
}
.v93_14 {
  width: 164px;
  height: 48px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 16px;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
  overflow: hidden;
}
.v93_15 {
  width: 51px;
  height: 13px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 917px;
  left: 15px;
  overflow: hidden;
}
.v93_16 {
  width: 54px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 937px;
  left: 15px;
  overflow: hidden;
}
.v93_17 {
  width: 114px;
  height: 13px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 917px;
  left: 135px;
  overflow: hidden;
}
.v93_18 {
  width: 54px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 937px;
  left: 135px;
  overflow: hidden;
}
.v93_19 {
  width: 54px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 953px;
  left: 255px;
  overflow: hidden;
}
.v93_20 {
  width: 114px;
  height: 13px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 917px;
  left: 255px;
  overflow: hidden;
}
.v93_21 {
  width: 114px;
  height: 13px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 933px;
  left: 255px;
  overflow: hidden;
}
.v93_22 {
  width: 103px;
  height: 13px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 917px;
  left: 375px;
  overflow: hidden;
}
.v93_23 {
  width: 54px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 937px;
  left: 375px;
  overflow: hidden;
}
.v93_24 {
  width: 45px;
  height: 45px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 771px;
  left: 37px;
  border-radius: 50%;
}
.v93_25 {
  width: 45px;
  height: 45px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 771px;
  left: 127px;
  border-radius: 50%;
}
.v93_26 {
  width: 45px;
  height: 45px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 771px;
  left: 217px;
  border-radius: 50%;
}
.v93_27 {
  width: 45px;
  height: 45px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 771px;
  left: 307px;
  border-radius: 50%;
}
.v93_28 {
  width: 390px;
  background: url("../images/v93_28.png");
  opacity: 1;
  position: absolute;
  top: 766px;
  left: 0px;
  border: 1px solid rgba(217,217,217,1);
}
.v93_29 {
  width: 390px;
  background: url("../images/v93_29.png");
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 0px;
  border: 1px solid rgba(217,217,217,1);
}
.v93_30 {
  width: 390px;
  background: url("../images/v93_30.png");
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 0px;
  border: 1px solid rgba(217,217,217,1);
}
.home {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 785px;
  left: 37px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.community {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 785px;
  left: 115px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.event {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 785px;
  left: 213px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.mypage {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 785px;
  left: 303px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v93_35 {
  width: 21px;
  height: 17px;
  background: url("../images/v93_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 354px;
  overflow: hidden;
}
.v93_36 {
  width: 16px;
  height: 14px;
  background: url("../images/v93_36.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v93_37 {
  width: 7px;
  height: 6px;
  background: url("../images/v93_37.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 14px;
  border: 1px solid rgba(0,0,0,1);
}
.name {
  color: #fff;
}
.v93_39 {
  width: 84px;
  height: 124px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v93_40 {
  width: 46px;
  height: 45px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 15px;
  border-radius: 50%;
}
.v93_41 {
  width: 102px;
  height: 15px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 71px;
  overflow: hidden;
}
.v93_42 {
  width: 360px;
  height: 145px;
  background: url("../images/v93_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 243px;
  left: 15px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v93_43 {
  width: 51px;
  height: 13px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 125px;
  overflow: hidden;
}
.v93_44 {
  width: 55px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 125px;
  overflow: hidden;
}
.v93_45 {
  width: 121px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 306px;
  left: 125px;
  overflow: hidden;
}
.v93_46 {
  width: 175px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 323px;
  left: 125px;
  overflow: hidden;
}
.v93_47 {
  width: 175px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 125px;
  overflow: hidden;
}
.v93_48 {
  width: 175px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 125px;
  overflow: hidden;
}
.v93_49 {
  width: 84px;
  height: 124px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 484px;
  left: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v93_50 {
  width: 46px;
  height: 45px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 415px;
  left: 15px;
  border-radius: 50%;
}
.v93_51 {
  width: 102px;
  height: 15px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 71px;
  overflow: hidden;
}
.v93_52 {
  width: 360px;
  height: 145px;
  background: url("../images/v93_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 15px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v93_53 {
  width: 51px;
  height: 13px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 484px;
  left: 125px;
  overflow: hidden;
}
.v93_54 {
  width: 55px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 518px;
  left: 125px;
  overflow: hidden;
}
.v93_55 {
  width: 121px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 535px;
  left: 125px;
  overflow: hidden;
}
.v93_56 {
  width: 175px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 552px;
  left: 125px;
  overflow: hidden;
}
.v93_57 {
  width: 175px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 569px;
  left: 125px;
  overflow: hidden;
}
.v93_58 {
  width: 175px;
  height: 10px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 586px;
  left: 125px;
  overflow: hidden;
}
.v93_59 {
  width: 35px;
  height: 35px;
  background: url("../images/v93_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 666px;
  left: 340px;
  overflow: hidden;
}
.v93_60 {
  width: 35px;
  height: 35px;
  background: rgba(159,154,154,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v93_61 {
  width: 21px;
  background: url("../images/v93_61.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 8px;
  border: 3px solid rgba(255,255,255,1);
}
.v93_62 {
  width: 21px;
  background: url("../images/v93_62.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 18px;
  border: 3px solid rgba(255,255,255,1);
}
.v93_63 {
  width: 105px;
  height: 32px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 15px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v93_64 {
  width: 105px;
  height: 32px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 270px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v93_65 {
  width: 105px;
  height: 32px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 142px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v93_66 {
  width: 30px;
  height: 30px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 330px;
  overflow: hidden;
}
.v93_67 {
  width: 30px;
  height: 30px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 482px;
  left: 330px;
  overflow: hidden;
}
.v93_68 {
  width: 30px;
  height: 30px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 711px;
  left: 329px;
  overflow: hidden;
}
.v93_352 {
  width: 54px;
  color: rgb(17, 17, 17);
  position: absolute;
  top: 122px;
  left: 40px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.popularnote {
  width: 54px;
  color: rgb(17, 17, 17);
  position: absolute;
  top: 122px;
  left: 168px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v93_354 {
  width: 54px;
  color: rgb(17,17,17);
  position: absolute;
  top: 122px;
  left: 298px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
